:root {
  --container-space: 30px;
}

*,
::after,
::before,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.gradient {
  background-image: linear-gradient(228.57deg, #323264, #323264, #643e72);
  border-radius: 0px 0px 12px 12px;
  position: relative;
  padding-bottom: 60px;
}

.gradient::before {
  content: "";
  display: block;
  position: absolute;
  left: 20px;
  bottom: -10px;
  width: calc(100% - 40px);
  height: 10px;
  border-radius: 0px 0px 12px 12px;
  background: #cacadb;
}
.gradient::after {
  content: "";
  display: block;
  position: absolute;
  left: 40px;
  bottom: -20px;
  width: calc(100% - 80px);
  height: 10px;
  border-radius: 0px 0px 12px 12px;
  background: #e7e7f2;
}

html {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.7;
  font-style: normal;
}
html {
  scrollbar-color: #6969dd #e0e0e0;
  scrollbar-width: thin;
}

img {
  max-width: 100%;
}

.relative {
  position: relative;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: underline;
}
.flex__wrap {
  flex-wrap: wrap;
}

.container {
  width: 100%;
  max-width: calc(1440px + 60px);
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--container-space);
  padding-right: var(--container-space);
}

.container.wide {
  max-width: calc(1600px + 60px);
}

.flex {
  display: flex;
}

.padding__bottom__60 {
  padding-bottom: 60px;
}

.padding__top__60 {
  padding-top: 60px;
}

.gap__30 {
  gap: 30px;
}

.gap__60 {
  gap: 60px;
}

.text__center {
  text-align: center;
}

.border {
  border: 1px solid #161513;
}

.border__2 {
  border: 2px solid #161513;
}

.border__right {
  border-right: 1px solid #161513;
}

.flex__1 {
  flex: 1;
}

.align__itemCenter {
  align-items: center;
}

.justify__center {
  justify-content: center;
}

.space__between {
  justify-content: space-between;
}

.row__reverse {
  flex-direction: row-reverse;
}

.flex__direction__column {
  flex-direction: column;
}

.gap__14 {
  gap: 14px;
}

/* Header */

.header {
  padding-bottom: 60px;
  position: absolute;
  width: 100%;
}

.logo {
  align-self: center;
}

.logo__img {
  width: 80px;
}

.slash {
  padding-left: 4px;
  padding-right: 4px;
  position: relative;
  bottom: 5px;
  width: 18px;
}

.burger {
  color: white;
  width: 50px;
  height: 50px;
  position: absolute;
  top: 60px;
  right: 0;
  z-index: 2;
  cursor: pointer;
}

.burger span {
  display: inline-block;
  width: 25px;
  height: 3px;
  position: absolute;
  left: 5px;
  transition: all 0.3s linear;
  background-color: #ffffff;
}

.burger.active {
  position: fixed;
  top: 9px;
  right: 10px;
}

.burger span:first-child {
  top: 10px;
}

.burger span:last-child {
  top: 20px;
}

.active.burger span:nth-child(1) {
  top: 25px;
  transform: rotate(45deg);
  background-color: #ec6f5d;
}

.active.burger span:nth-child(3) {
  opacity: 0;
}

.active.burger span:nth-child(2) {
  top: 25px;
  transform: rotate(-45deg);
  background-color: #ec6f5d;
}

.page__team {
  color: #323264;
  font-size: 24px;
  line-height: 1.22;
  position: relative;
  top: -5px;
  order: 1;
}

.page__services {
  color: #ffffff;
  font-size: 36px;
  font-weight: 400;
  line-height: 1.22;
  position: relative;
  top: -5px;
  order: 1;
}

.dot {
  display: none;
}

.first__screen__wrapper {
  padding-top: 185px;
}

.fb {
  align-items: center;
  display: block;
}

/* ================================= */
.form_radio_btn {
  display: inline-block;
}
.form_radio_btn input[type="radio"] {
  display: none;
}
.form_radio_btn input[type="radio"]:checked + label {
  display: inline-block;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 8px;
  padding: 5px 7px;
  background: #f0145a;
  color: #ffffff;
  font-weight: 700;
  user-select: none;
}

.form_radio_btn label {
  border: 1px solid transparent;
  display: inline-block;
  cursor: pointer;
  border-radius: 8px;
  padding: 5px 7px;
  color: inherit;
}

/* Hover */
.form_radio_btn label:hover {
  border: 1px solid transparent;
  display: inline-block;
  cursor: pointer;
  background: #f5f7face;
  color: inherit;
}

/* ==================================== */

.menu__up > .lang:last-child {
  padding-right: 14px;
}

.menu__up > .adress,
.fb,
.menu__down {
  display: none;
}

.menu__down {
  position: fixed;
  inset: 0;
  background-color: #323264;
  padding: 1rem;
  z-index: 1;
}

.menu__down nav {
  width: 100%;
  height: 57%;
  color: #ffffff;
  border-radius: 1rem;
  top: 100%;
  transition: all 0.3s linear;
  position: relative;
}

.menu__down.open {
  display: block;
}

.menu__down.open nav {
  top: initial;
  color: #24a3ff;
}

.menu__up {
  font-style: normal;
  color: #ffffff;
  font-size: 12px;
  line-height: 1.25;
}

.logo {
  grid-row: 1/3;
  align-items: center;
}

.menu__up,
.menu__down {
  grid-column: 2/4;
  justify-content: flex-end;
}

.menu__up {
  align-items: center;
  margin-bottom: 16px;
  justify-content: flex-start;
}

.menu__up {
  margin-left: -30px;
  margin-right: -30px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #f5f5fa33;
  justify-content: space-between;
}

.grid {
  width: 100%;
  display: block;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
}

.nav {
  text-align: center;
  color: #24a3ff;
  font-size: 24px;
  line-height: 1.2;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 15px;
  justify-content: center;
}

.nav > a:hover {
  font-weight: 700;
  color: #f0145a;
}

.contact {
  font-weight: 700;
}

.about__us,
.services,
.team,
.publications {
  padding-right: 15px;
}

.about__us,
.services,
.team,
.publications,
.contact {
  background-color: #f5f5fa;
  border-radius: 12px;
  padding: 7px 0;
  margin-left: 12px;
  margin-right: 12px;
}

.adress {
  font-weight: 400;
  color: #ffffff;
  font-size: 16px;
  line-height: 1.25;
}

.dot {
  padding: 0 6px;
}

.tel {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: #ffffff;
  font-size: 16px;
  line-height: 1.25;
}

/* Contacts information ============================================ */

.border__line {
  border: 4px solid #e6e6f0;
  margin-bottom: 30px;
  margin-top: 30px;
}

.tabs__link.navs::-webkit-scrollbar {
  width: 10px;
}

.tabs__link.navsL::-webkit-scrollbar-track {
  background-color: darkgrey;
}

.tabs__link.navs::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 6px rgba(247, 243, 243, 0.733);
}

.left__block {
  width: 100%;
}

.right__block {
  width: 100%;
}

.tel__center {
  color: #46466e;
  font-weight: 400;
  font-size: 21px;
  line-height: 1.42;
}

.email__center {
  margin-top: 15px;
  color: #24a3ff;
  font-weight: 400;
  font-size: 21px;
  line-height: 1.42;
}

.our__page {
  font-weight: 700;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #24a3ff;
  margin-left: 10px;
  outline: none;
}

.icon__andText {
  margin-bottom: 30px;
}

.icon__andText:hover .our__page,
.icon__andText:hover svg path,
.fb:hover svg path {
  color: #f0145a;
  fill: #f0145a;
}

/* First screen  ========================================================= */

.first__screen {
  min-height: 89vh;
  width: 100%;
  display: flex;
  align-items: center;
  background: url("../images/h.png") no-repeat center/contain;
  margin-bottom: 60px;
  background-size: cover;
}

.main_title {
  font-weight: 700;
  font-size: 38px;
  line-height: 1.21;
  color: #ffffff;
  text-align: center;
}

.scroll {
  position: relative;
  bottom: 0;
  top: 183px;
  left: 48%;
  right: 0;
}

/* Tabs ============================================= */

.tabs {
  display: flex;
  flex-direction: column;
  width: 800px;
  padding: 0px;
  margin: 0 auto;
  position: relative;
}

.navLink {
  font-weight: 700;
  font-size: 30px;
  line-height: 1.21;
  padding: 0;
  -webkit-background-clip: text;
  color: #b3b3ba;
  background-clip: text;
  cursor: pointer;
  border: none;
  width: 300px;
  background-color: inherit;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  white-space: nowrap;
  text-align: left;
  gap: 30px;
}

.align-items-center {
  align-items: stretch !important ;
  justify-content: end;
  flex-direction: column;
}

.navLink.active {
  -webkit-background-clip: text;
  color: transparent;
  background-clip: text;
  background-image: linear-gradient(100deg, #f0145a, #ef8080);
}

.navLink:hover {
  color: #f0145a;
}

.title__text {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  color: #ffffff;
  padding-bottom: 30px;
  padding-top: 30px;
}

.paragraph__text {
  font-weight: 400;
  font-size: 19px;
  line-height: 1.57;
  color: #ffffff;
}
.tabs__link.navs {
  border-right: transparent;
  padding-right: 0;
  margin-right: 0;
  padding-bottom: 30px;
  gap: 30px;
  flex-direction: row !important;
  overflow-x: auto;
  text-align: start;
  justify-content: flex-start;
  width: 100%;
  margin-right: -60px;
}

.tab-pane {
  display: none;
  justify-content: center;
}

.tab-pane.active {
  display: block;
}

.tabs__link {
  flex-direction: column;
}

/* SERVICE ===================================================== */
.services_ {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.21;
  color: #24a3ff;
  text-transform: uppercase;
}

.services_:hover,
.services_block:hover svg path {
  color: #f0145a;
  stroke: #f0145a;
  color: #f0145a;
  text-decoration: none;
}

.blue__arrow {
  padding-left: 2px;
  width: 12px;
  height: 12px;
  align-self: center;
  cursor: pointer;
}

.services_block:hover svg path {
  color: #f0145a;
  stroke: #f0145a;
}

.services_block {
  padding-top: 30px;
  padding-bottom: 10px;
}

.services_block_team {
  padding-top: 30px;
  padding-bottom: 10px;
  margin-right: 15px;
  margin-left: 15px;
}

.services_block_publications {
  padding-top: 30px;
  padding-bottom: 10px;
}

.title_another__text {
  -webkit-background-clip: text;
  color: transparent;
  background-clip: text;
  background-image: linear-gradient(100deg, #f0145a, #ef8080);
  font-weight: 700;
  font-size: 30px;
  line-height: 1.23;
  padding-bottom: 60px;
}

/* ICONS ===================== */

.icon__block {
  flex-wrap: wrap;
}

.icon {
  width: 100%;
}

.services__icon:hover {
  text-decoration: none;
}

.services__icon:hover .icon__title {
  color: #f0145a;
}

.icon__title {
  color: #24a3ff;
  font-weight: 700;
  font-size: 22px;
  line-height: 1.22;
  padding-top: 30px;
}

.icon__title:hover {
  color: #f0145a;
  cursor: pointer;
}

.icon__text {
  color: #ffffff;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.62;
  padding-top: 15px;
}

/* TEAM==========================================>>> */

.aTeam {
  background-color: #f5f5fa;
  border-radius: 12px;
  overflow: hidden;
  flex-wrap: wrap;
}

.team__block {
  width: 100%;
}

.photo__team > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* SLIDER =======================>>>> */

#mySlider {
  padding-top: 80px;
}

.slick-dots li button {
  width: 16px;
  height: 16px;
  background-color: #24a3ff;
  opacity: 20%;
  border-radius: 50%;
}
.slick-dots {
  bottom: -51px;
}
.slick-dots li button:before {
  content: "";
}

.slick-dots li.slick-active button {
  opacity: 100%;
}

.photo__team {
  margin-right: 30px;
  width: 400px;
  min-width: 315px;
}

.our__motto {
  -webkit-background-clip: text;
  color: transparent;
  background-clip: text;
  background-image: linear-gradient(100deg, #f0145a, #ef8080);
  font-weight: 700;
  font-size: 38px;
  line-height: 1.21;
  padding-bottom: 30px;
}

.name {
  color: #b3b3ba;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  margin-bottom: 6px;
}

.prof {
  color: #b3b3ba;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.57;
}

/* Company===========================>>>>>>>>>>>> */

.trust {
  color: #323264;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.21;
  text-transform: uppercase;
  padding-top: 60px;
  padding-bottom: 30px;
  text-align: center;
}

.company__block {
  flex-wrap: wrap;
}

.hilel,
.wannaBiz,
.tapgerine,
.dLook,
.orangear,
.adtelligent,
.Clickky,
.ecoLeasing,
.infaTek,
.sityPark,
.artPrintStudio,
.ultimateCard {
  width: 100%;
  display: flex;
  max-width: 430px;
  height: 120px;
  justify-content: center;
  align-items: center;
}

.Clickky,
.ecoLeasing,
.infaTek,
.sityPark,
.artPrintStudio,
.ultimateCard {
  display: none;
}

.hilel {
  background-color: #1c4280;
}
.wannaBiz {
  background-color: #143646;
}

.tapgerine {
  background-color: #f48b30;
}
.dLook {
  background-color: #9e4dc3;
}
.orangear {
  background-color: #fd9339;
}
.adtelligent {
  background-color: #e2e2e4;
}
.Clickky {
  background-color: #c71c36;
}
.ecoLeasing {
  background-color: #dcf3f9;
}

.infaTek {
  background-color: #eaeaea;
}
.sityPark {
  background-color: #282240;
}
.artPrintStudio {
  background-color: #1d4568;
}
.ultimateCard {
  background-color: #000000;
}

/* Publications ================================ */

.our__motto.down {
  padding-top: 10px;
  padding-bottom: 30px;
}

.publications__block {
  gap: 30px;
  flex-wrap: wrap;
}

.publications__card {
  background-color: #ffffff;
  border-radius: 8px;
  width: 100%;
  min-height: 430px;
}

.publications__title {
  margin-right: 30px;
  margin-left: 30px;
  color: #24a3ff;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  margin-top: 30px;
  margin-bottom: 15px;
}
.publications__date {
  margin-right: 30px;
  margin-left: 30px;
  color: #b3b3ba;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.25;
  text-transform: uppercase;
}
.publications__text {
  margin-right: 30px;
  margin-left: 30px;
  color: #000000;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.57;
}

.line__publications {
  border: 4px solid #e6e6f0;
  margin-right: 30px;
  margin-left: 30px;
  margin-top: 15px;
  margin-bottom: 15px;
}

/* Footer ===================================*/

.footerLine {
  border: 2px solid #e6e6f0;
  margin-top: 30px;
  margin-bottom: 30px;
}

.footer {
  flex-wrap: wrap;
  justify-content: center;
}

.footer__wrapper {
  background-color: #f5f5fa;
  padding-bottom: 30px;
  padding-top: 30px;
}

.adress.dark {
  color: #323264;
}

.map {
  color: #24a3ff;
  font-size: 16px;
  line-height: 1.25;
  font-weight: 700;
}

.map:hover {
  color: #f0145a;
  text-decoration: underline;
  font-weight: 700;
}

.dot__grey {
  margin: 0 10px;
  margin-bottom: 2px;
  display: none;
}

.copirygth {
  color: #b3b3ba;
  font-size: 16px;
  line-height: 1.25;
  order: 1;
}

.tel.dark {
  color: #46466e;
}

.email {
  width: 100%;
  flex-direction: column;
  margin-bottom: 2rem;
  gap: 10px;
}

.adress__and__map {
  width: 100%;
  flex-direction: column;
  margin-bottom: 1rem;
  gap: 10px;
}

/* Media ========================================================================>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

@media (min-width: 576px) {
  :root {
    --container-space: 60px;
  }

  .header .tel {
    margin-left: 0;
  }

  .adress {
    color: #b3b3ba;
  }

  .first__screen {
    min-height: 100vh;
    width: 100%;
    background-size: cover;
  }

  .dot {
    display: block;
  }

  .menu__down nav {
    height: 100%;
    justify-content: flex-start;
  }

  .card {
    max-width: calc(50% - 15px);
  }

  .navLink {
    font-size: 38px;
    line-height: 1.21;
    width: 100%;
  }

  .services_block {
    padding-top: 60px;
  }

  .main__content {
    gap: 30px;
  }

  .title__text {
    padding-top: 60px;
  }

  .tabs__link.navs {
    padding-bottom: 60px;
  }

  .scroll {
    top: 269px;
  }

  .right__block {
    width: 100%;
  }

  .grid {
    display: grid;
  }

  .dot__grey {
    display: block;
  }

  .footer {
    justify-content: center;
  }

  .copirygth {
    margin-bottom: 30px;
  }

  .publications__card:nth-child(1) {
    width: calc(50% - 15px);
  }
  .publications__card:nth-child(2) {
    width: calc(50% - 15px);
  }
  .publications__card:nth-child(3) {
    width: 100%;
  }

  .title_another__text {
    font-size: 30px;
    line-height: 1.21;
  }

  .footer__wrapper {
    padding-bottom: 0;
  }

  .email,
  .adress__and__map {
    flex-direction: row;
    margin-left: 100px;
    gap: 0;
  }
}

@media (min-width: 568px) {
  .header {
    padding-top: 50px;
  }
  .footer {
    justify-content: center;
  }

  .logo {
    align-self: center;
    align-items: unset;
  }

  .slash {
    padding-left: 4px;
    padding-right: 4px;
    position: relative;
    bottom: 6px;
    width: 29px;
  }

  .first__screen__wrapper {
    padding-top: 300px;
  }

  .title__text {
    font-size: 30px;
    line-height: 1.23;
  }

  .first__screen {
    background-size: cover;
  }

  .icon {
    width: calc(50% - 30px);
  }

  .nav {
    text-align: right;
    color: #24a3ff;
    font-size: 16px;
    line-height: 1.25;
    font-weight: 700;
    display: flex;
    flex-direction: unset;
    gap: 0;
    margin-bottom: 0;
    justify-content: unset;
  }

  .about__us,
  .services,
  .team,
  .publications,
  .contact {
    background-color: unset;
    border-radius: 0;
    padding: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .services {
    color: #f0145a;
    text-decoration: underline;
  }

  .about__us,
  .services,
  .team,
  .publications {
    padding-right: 15px;
  }

  .menu__down nav {
    height: 100%;
    justify-content: flex-start;
  }

  .icon__andText {
    margin-bottom: 60px;
  }

  .logo__img {
    width: unset;
  }

  .menu__up > .adress,
  .fb,
  .menu__down {
    display: block;
  }

  .burger {
    display: none;
  }

  .photo__team {
    min-width: 648px;
  }

  .menu__up {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 0;
    background-color: unset;
    justify-content: unset;
  }

  .right__block {
    width: 100%;
  }

  .menu__down {
    position: unset;
    inset: 0;
    background-color: unset;
    padding: 0;
  }

  .grid {
    display: block;
  }

  .menu__up {
    justify-content: flex-start;
  }

  .hilel,
  .wannaBiz,
  .tapgerine,
  .dLook,
  .orangear,
  .adtelligent,
  .Clickky,
  .ecoLeasing,
  .infaTek,
  .sityPark,
  .artPrintStudio,
  .ultimateCard {
    width: 33.333%;
    display: flex;
    max-width: 430px;
    height: 120px;
    justify-content: center;
    align-items: center;
  }

  .nav {
    text-align: left;
    margin-top: 30px;
  }

  .email,
  .adress__and__map {
    gap: 0;
  }

  .public__photo {
    object-fit: cover;
    width: 100%;
    height: 200px;
  }

  .dot__grey {
    display: block;
  }
}

@media (min-width: 992px) {
  :root {
    --container-space: 80px;
  }
  .container {
    max-width: calc(936px + calc(1 * var(--container-space)));
    margin-left: auto;
    margin-right: auto;
  }

  .first__screen {
    min-height: 100vh;
    background-size: contain;
  }

  .adress {
    color: #ffffff;
  }

  .first__screen__wrapper {
    padding-top: 185px;
  }

  .title__text {
    padding-top: 0;
  }

  .aTeam {
    display: flex !important;
    flex-wrap: nowrap;
  }

  .icon {
    width: calc(33.33% - 40px);
  }

  .tabs__link.navs {
    padding-bottom: 0px;
  }

  .services_block {
    padding-top: 70px;
  }

  .photo__team {
    min-width: 400px;
  }

  .navLink {
    font-weight: 700;
    font-size: 38px;
    line-height: 1.21;
    padding: 15px;
    text-align: end;
    gap: 0;
    width: 100%;
  }

  .align-items-center {
    align-items: center !important ;
    justify-content: end;
    flex-direction: unset;
  }

  .tabs__link.navs {
    border-right: 4px solid rgba(255, 255, 255, 0.3);
    width: 100%;
    padding-right: 60px;
    margin-right: 60px;
    gap: 0;
    flex-direction: column !important;
    overflow-x: unset;
    text-align: unset;
    justify-content: unset;
    display: flex;
  }

  .menu__up {
    justify-content: right;
  }

  .nav {
    text-align: right;
    margin-top: 0;
  }

  .hilel,
  .wannaBiz,
  .tapgerine,
  .dLook,
  .orangear,
  .adtelligent,
  .Clickky,
  .ecoLeasing,
  .infaTek,
  .sityPark,
  .artPrintStudio,
  .ultimateCard {
    width: 25%;
    display: flex;
    max-width: 100%;
    height: 120px;
    justify-content: center;
    align-items: center;
  }

  .central__wrapper {
    flex-wrap: inherit;
    padding-top: 60px;
    padding-bottom: 0;
  }

  .grid {
    display: grid;
  }

  .email,
  .adress__and__map {
    margin-left: 0;
  }

  .menu__down nav {
    justify-content: flex-end;
  }

  .left__block {
    width: 43%;
  }

  .right__block {
    width: 55%;
  }

  .icon__andText {
    margin-bottom: 0;
  }

  .card {
    max-width: calc(33.333% - 20px);
  }

  .adress,
  .dot,
  .menu__down,
  .fb {
    display: unset;
  }

  .adress__and__map {
    width: initial;
  }

  .footer {
    justify-content: space-between;
  }

  .publications__card:nth-child(1) {
    width: calc(33.33% - 20px);
  }
  .publications__card:nth-child(2) {
    width: calc(33.33% - 20px);
  }
  .publications__card:nth-child(3) {
    width: calc(33.33% - 20px);
  }

  .publications__block {
    flex-wrap: nowrap;
  }

  .public__photo {
    object-fit: cover;
    height: auto;
  }

  .copirygth {
    order: initial;
  }
}

@media (min-width: 1200px) {
  :root {
    --container-space: 140px;
  }
  .container {
    max-width: calc(1200px + calc(2 * var(--container-space)));
  }
  .card {
    max-width: calc(33.333% - 40px);
  }
  .main__content {
    gap: 60px;
  }
}

@media (min-width: 1500px) {
  :root {
    --container-space: 140px;
  }
  .container {
    max-width: calc(1135px + calc(2 * var(--container-space)));
  }

  .scroll {
    top: 320px;
  }

  .company__block {
    margin-right: 100px;
    margin-left: 100px;
    margin-bottom: 60px;
  }
}
