/* ================================= */
.form_radio_btn {
  display: inline-block;
}
.form_radio_btn input[type="radio"] {
  display: none;
}
.form_radio_btn input[type="radio"]:checked + label {
  display: inline-block;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 8px;
  padding: 5px 7px;
  background: #f0145a;
  color: #ffffff;
  font-weight: 700;
  user-select: none;
}

.form_radio_btn label {
  border: 1px solid transparent;
  display: inline-block;
  cursor: pointer;
  border-radius: 8px;
  padding: 5px 7px;
  color: inherit;
}

/* Hover */
.form_radio_btn label:hover {
  border: 1px solid transparent;
  display: inline-block;
  cursor: pointer;
  background: #f5f5fa;
  color: inherit;
}

.about__us {
  color: #f0145a;
  text-decoration: underline;
  font-weight: 700;
}

.team {
  text-decoration: none !important;
  color: #24a3ff !important;
}

.team:hover {
  text-decoration: underline !important;
  color: #f0145a !important;
}

.about__us__text {
  color: #323264;
  font-size: 24px;
  line-height: 1.22;
  position: relative;
  top: -9px;
}

/* First and Second block ================== */

.rectangle {
  margin-right: 20px;
}

/* .first__and__second__block {
  display: flex;
  flex-wrap: wrap;
} */

/* Burger =============================================== */
.burger {
  color: black !important;
  width: 50px;
  height: 50px;
  position: absolute;
  top: 60px;
  right: 0;
  z-index: 2;
  cursor: pointer;
}

.burger span {
  display: inline-block;
  width: 25px;
  height: 3px;
  position: absolute;
  left: 5px;
  transition: all 0.3s linear;
  background-color: black;
}

.burger.active {
  position: fixed;
  top: 9px;
  right: 10px;
}

.burger span:first-child {
  top: 10px;
}

.burger span:last-child {
  top: 20px;
}

.active.burger span:nth-child(1) {
  top: 25px;
  transform: rotate(45deg);
  background-color: #ec6f5d;
}

.active.burger span:nth-child(3) {
  opacity: 0;
}

.active.burger span:nth-child(2) {
  top: 25px;
  transform: rotate(-45deg);
  background-color: #ec6f5d;
}

.stat {
  font-weight: 700;
  font-size: 36px;
  -webkit-background-clip: text;
  color: transparent;
  background-clip: text;
  background-image: linear-gradient(100deg, #f0145a, #ef8080);
  margin-left: 8px;
}

.block__stat {
  margin-top: 28px;
  display: flex;
  flex-wrap: nowrap;
}

.dividing__line {
  border: 2px solid #e6e6f0;
  background-color: #e6e6f0;
  margin: 0 30px;
  max-height: 322px;
}

.text__stat {
  color: #323264;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
}

.main__team__text {
  position: absolute;
  font-size: 36px;
  opacity: 83%;
  line-height: 1.22;
  letter-spacing: 13px;
  font-weight: bold;
  color: #ffffff;
  transform: translate(71%, 85%);
}

.par__about {
  font-size: 19px;
  line-height: 1.57;
  font-weight: 400;
}

.lang__ua,
.lang__ru {
  padding-right: 0 !important;
}

.about__us__div {
  padding: 30px 0px;
}
.common__block {
  gap: 30px;

  flex-wrap: wrap;
}

.main__tittle__two {
  font-weight: 700;
  font-size: 30px;
  line-height: 1.22;
  width: 100%;
  -webkit-background-clip: text;
  color: transparent;
  background-clip: text;
  background-image: linear-gradient(100deg, #f0145a, #ef8080);
}

.container__special {
  max-width: calc(1600px + 60px);
  padding-left: 100px;
  padding-right: 100px;
}

/* achievments and Slider ========================================= */
.achievments {
  margin-top: 60px;
  background-color: #f5f5fa;
  /* padding: 0 160px; */
}
.achievements__title {
  padding-top: 30px;
  padding-bottom: 30px;
  color: #323264;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.achievments__wrapper {
  background-color: #f5f5fa;
}

.slick-dots li button {
  width: 16px !important;
  height: 16px !important;
  background-color: #24a3ff !important;
  opacity: 20% !important;
  border-radius: 50% !important;
}

.slick-dots {
  top: 122px !important;
}
.slick-dots li button:before {
  content: "" !important;
}

.slick-dots li.slick-active button {
  opacity: 100% !important;
}

.slick-dotted.slick-slider {
  margin-bottom: 0px !important;
}

.border__line {
  border: 2px solid #e6e6f0;
  background-color: #e6e6f0;
  margin-bottom: 30px;
  margin-top: 90px;
}

.rectangle {
  display: flex;
  flex-wrap: wrap;
}

/* .achievments__2 {
  margin-left: 40px;
} */
.achievments__3 {
  margin-left: 20px;
}
.achievments__4 {
  margin-left: 20px;
}

.slick-slide img {
  width: 255px;
  margin-left: 29px;
  object-fit: cover;
}

/* Footer ===================================*/

.footer {
  flex-wrap: wrap;
  justify-content: center;
}

.footer__wrapper {
  background-color: #f5f5fa;
  padding-top: 30px;
  padding-bottom: 30px;
}

.adress.dark {
  color: #323264;
}

.map {
  color: #24a3ff;
  font-size: 16px;
  line-height: 1.25;
  font-weight: 700;
}

.map:hover {
  color: #f0145a;
  text-decoration: underline;
  font-weight: 700;
}

.dot__grey {
  margin: 0 10px;
  margin-bottom: 2px;
  display: none;
}

.copirygth {
  color: #b3b3ba;
  font-size: 16px;
  line-height: 1.25;
  order: 1;
}

.tel.dark {
  color: #46466e;
}

.email {
  width: 100%;
  flex-direction: column;
  margin-bottom: 2rem;
  gap: 10px;
}

.adress__and__map {
  width: 100%;
  flex-direction: column;
  margin-bottom: 1rem;
  gap: 10px;
}

/*  Media ============================================================================================================================================= */

@media (min-width: 576px) {
  :root {
    --container-space: 60px;
  }

  .header .tel {
    margin-left: 0;
  }

  .dot {
    display: block;
  }

  .main__tittle {
    font-size: 30px;
  }

  .menu__down nav {
    height: 100%;
    justify-content: flex-start;
  }

  .main__tittle {
    font-size: 38px;
  }

  .card {
    max-width: calc(50% - 15px);
  }

  .main__content {
    gap: 30px;
  }

  .grid {
    display: grid;
  }

  .dot__grey {
    display: block;
  }

  .footer {
    justify-content: center;
  }

  .copirygth {
    margin-bottom: 30px;
  }

  .footer__wrapper {
    padding-bottom: 0;
  }

  .email,
  .adress__and__map {
    flex-direction: row;
    margin-left: 100px;
    gap: 0;
  }
}

@media (min-width: 568px) {
  .header {
    padding-top: 50px;
  }
  .footer {
    justify-content: center;
  }

  .main__tittle {
    font-size: 38px;
  }

  .logo {
    align-self: center;
    align-items: unset;
  }

  .slash {
    padding-left: 4px;
    padding-right: 4px;
    position: relative;
    bottom: 6px;
    width: 29px;
  }

  .about__us__text {
    font-size: 36px;
    top: -1px;
  }

  .block__stat {
    margin-top: 30px;
    flex-wrap: wrap;
    margin-right: 55px;
  }

  .common__block {
    gap: 60px;
    flex-wrap: wrap;
    margin-right: 50px;
  }

  .ten__plus,
  .thirty__plus {
    padding-bottom: 40px;
  }
  .main__tittle__two {
    font-size: 38px;
  }

  .about__us__div {
    padding: 60px 0px;
  }

  .nav {
    text-align: right;
    color: #24a3ff;
    font-size: 16px;
    line-height: 1.25;
    font-weight: 700;
    display: flex;
    flex-direction: unset;
    gap: 0;
    margin-bottom: 0;
    justify-content: unset;
  }

  .about__us,
  .services,
  .team,
  .publications,
  .contact {
    background-color: unset;
    border-radius: 0;
    padding: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .about__us,
  .services,
  .team,
  .publications {
    padding-right: 15px;
  }

  .menu__down nav {
    height: 100%;
    justify-content: flex-start;
  }

  .page__team {
    color: #323264;
    font-size: 36px;
    line-height: 1.22;
    position: relative;
    top: -9px !important;
  }

  .logo__img {
    width: unset;
  }

  .menu__up > .adress,
  .fb,
  .menu__down {
    display: block;
  }

  .menu__up {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 0;
    background-color: unset;
    justify-content: unset;
  }

  .menu__down {
    position: unset;
    inset: 0;
    background-color: unset;
    padding: 0;
  }

  .grid {
    display: block;
  }

  /* .first__and__second__block {
    flex-wrap: nowrap;
  } */

  .burger {
    display: none;
  }

  .menu__up {
    justify-content: flex-start;
  }

  .nav {
    text-align: left;
    margin-top: 30px;
  }

  .email,
  .adress__and__map {
    gap: 0;
  }

  .dot__grey {
    display: block;
  }

  .main__team__text {
    font-size: 46px;
    letter-spacing: 63px;
    transform: translate(55%, 150%);
  }

  .slick-slide img {
    width: 150px;
    height: 80px;
    margin-left: 8px;
    border-radius: 12px;
  }

  .border__line {
    margin-top: 90px;
  }
}

@media (min-width: 992px) {
  :root {
    --container-space: 80px;
  }
  .container {
    max-width: calc(768px + calc(1 * var(--container-space)));
    margin-left: auto;
    margin-right: auto;
  }

  .footer {
    justify-content: space-between;
  }

  .menu__up {
    justify-content: right;
  }

  .nav {
    text-align: right;
    margin-top: 0;
  }

  .main__tittle {
    font-size: 37px;
  }

  .about__us__text {
    white-space: nowrap;
  }

  .logo {
    align-self: center;
  }

  .grid {
    display: grid;
  }

  .block__stat {
    flex-wrap: nowrap;
    min-width: 44%;
    margin-right: 0px;
    margin-top: 0px;
  }

  .common__block {
    flex-wrap: nowrap;
    gap: 23px;
  }

  .email,
  .adress__and__map {
    margin-left: 0;
  }

  .menu__down nav {
    justify-content: flex-end;
  }

  .main__tittle {
    font-size: 38px;
    padding-bottom: 28px !important;
  }

  .main__team__text {
    font-size: 86px;
    letter-spacing: 63px;
    line-height: 1.21;
    transform: translate(57%, 100%);
  }

  .first__and__second__block {
    display: flex;
  }

  .about__block__two {
    min-width: 59%;
  }

  .rightBlock {
    min-width: 45%;
  }

  .rectangle {
    height: 344px;
    margin: 0 30px;
  }

  .slick-slide img {
    width: 196px;
    height: 110px;
    border-radius: 12px;
  }

  .border__line {
    margin-top: 50px;
  }

  .adress,
  .dot,
  .menu__down,
  .fb {
    display: unset;
  }

  .adress__and__map {
    width: initial;
  }

  .copirygth {
    order: initial;
  }
}

@media (min-width: 1200px) {
  :root {
    --container-space: 80px;
  }
  .container {
    max-width: calc(1080px + calc(2 * var(--container-space)));
  }
  .card {
    max-width: calc(33.333% - 40px);
  }
  .main__content {
    gap: 60px;
  }

  .first__and__second__block {
    padding: 0 100px;
  }
  .block__stat {
    min-width: 38%;
  }

  .common__block {
    padding: 0 100px;
    margin-right: 0px;
    gap: 60px;
  }

  .rightBlock {
    min-width: 34%;
    margin-right: 0px;
  }

  .main__team__text {
    font-size: 96px;
    transform: translate(90%, 149%);
  }

  .slick-slide img {
    width: 300px;
    height: 110px;
  }
}

@media (min-width: 1601px) {
  .container {
    max-width: calc(1360px + calc(2 * var(--container-space)));
  }

  .main__tittle {
    padding-bottom: 28px;
  }

  .first__and__second__block {
    padding: 0 70px;
  }
  .rightBlock {
    min-width: 27%;
  }

  .main__team__text {
    transform: translate(135%, 200%);
  }
  .block__stat {
    min-width: 31%;
  }
  .common__block {
    padding: 0 70px;
  }
  .slick-slide img {
    width: 320px;
  }
}
